.main_body
{
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    float: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -27%);
}

.custom_container
{
    height: 360px;
}

.main_content
{
    max-width: 500px;
    margin-bottom: 37px;
    text-align: center;
}

.main_content h1
{
    font-size: 45px;
}

.main_content h2
{
    font-size: 16px;
}

.main_content h3
{
    font-size: 20px;
}

.form_container
{
    border-radius: 8px;
    background: #EEEEEE;
    max-width: 360px;
    padding: 37px;
    margin: auto;
    font-size: 14px;
    text-align: center;
    color: black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-group{
    position: relative;
}

input[type=text], input[type=password], input[type=email], input[type=number]
{
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    background: #FFF;
    color: #666;
    width: 100%;
    border: none;
    margin: 10px 0 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    &:focus, &:focus + .fa{
        border-color:#10CE88;
        color:#10CE88;
    }
}

.form-group .fa
{
    position: absolute;
    right: 15px;
    top: 28px;
    color: #737373;
}

.form_container button
{
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form_container button:hover,.form button:active,.form button:focus {
    background: #000000;
}

.message {
    margin: 12px 0 0; /* 12px(top) 0(right and left) 0(bottom)*/
    color: #b3b3b3;
    font-size: 12px;
}

.message a {
    color: #0d0d0d;
    text-decoration: none;
}

.message a:hover
{
    color: #333333;
}

.link a
{
    color: #0d0d0d;
    text-decoration: none;
    font-size: 12px;
}

.link a:hover
{
    color: #333333;
}

.custom_font
{
    padding-right: 110px;
    font-size: 15px;
}

a:hover
{
    text-decoration: none;
}

.custom_logo
{
    height: 2.2em;
    width: 2.3em;
}

/* CSS code for password reset form */

.reset_page {
    width: 350px;
    margin: auto;
    margin-top: 100px;
}

.form_reset
{
    border-radius: 8px;
    background: #EEEEEE;
    max-width: 360px;
    padding: 37px;
    margin: auto;
    font-size: 14px;
    text-align: center;
    color: black;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form_reset button
{
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #007BFF;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form_reset button:hover,.form button:active,.form button:focus {
    background: #000000;
}

.form_message button
{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form_message button:hover,.form button:active,.form button:focus {
    background: #000000;
}

/* CSS code for password reset form ends here */


/* for Google Recaptcha */
.g-recaptcha
{
    transform: scale(0.77);
    -webkit-transform: scale(0.93);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.signout-button
{
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 4px;
    border-radius: 4px;
    font-size: 12.7px;
}

.aboutus-button
{
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 4px;
    border-radius: 4px;
    font-size: 12.7px;
}

/* Adjusting the navbar height in all pages */
.navbar
{
    height: 3.6em;
}

/* Adjusting the row height in only index page */
.custom_row
{
    height: 360px;
}

/* particles background */
#particles-js
{
    background: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, #003073), color-stop(100%, #029797));
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
}
