.editSubjectStyle
{
    font-size: 14.5px;
    font-weight: bold;
}

.editSubjectForm
{
    padding: 4px 22px;
    border: none;
    background-color: #e6e6e6;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    margin: 6px;
    font-size: 14.5px;
}

.editSelect
{
    padding: 5px 138px 5px 8px;
    border-radius: 4px;
    border: none;
    background-color: #e6e6e6;
    outline: none;
    margin: 6px;
    font-size: 14.5px;
}

.editSelectFaculty
{
    padding: 5px 12px;
    border-radius: 4px;
    border: none;
    background-color: #e6e6e6;
    outline: none;
    margin: 6px;
    font-size: 14.5px;
}

.editTimeTimeTable
{
    font-size: 14.5px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
}

.editSelectTimeTable
{
    padding: 5px 12px;
    border-radius: 4px;
    border: none;
    background-color: #e6e6e6;
    outline: none;
    margin: 6px;
    font-size: 14.5px;
}