<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addSubject</servlet-name>
        <servlet-class>addSubject</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>bank</servlet-name>
        <servlet-class>bank</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>checkLogin</servlet-name>
        <servlet-class>checkLogin</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>menu</servlet-name>
        <servlet-class>menu</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>checkPin</servlet-name>
        <servlet-class>checkPin</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>delSubject</servlet-name>
        <servlet-class>delSubject</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>disStudAtt</servlet-name>
        <servlet-class>disStudAtt</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>disSubject</servlet-name>
        <servlet-class>disSubject</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>disTimetable</servlet-name>
        <servlet-class>disTimetable</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>editTimetable</servlet-name>
        <servlet-class>editTimetable</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>editSubject</servlet-name>
        <servlet-class>editSubject</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>disPin</servlet-name>
        <servlet-class>disPin</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>seleSem</servlet-name>
        <servlet-class>seleSem</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>addAdmin</servlet-name>
        <servlet-class>addAdmin</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>editAdmin</servlet-name>
        <servlet-class>editAdmin</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>disAdmin</servlet-name>
        <servlet-class>disAdmin</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>delAdmin</servlet-name>
        <servlet-class>delAdmin</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>seleClass</servlet-name>
        <servlet-class>seleClass</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>disStudDetail</servlet-name>
        <servlet-class>disStudDetail</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>editStudDetail</servlet-name>
        <servlet-class>editStudDetail</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>seleSub</servlet-name>
        <servlet-class>seleSub</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>disAtt</servlet-name>
        <servlet-class>disAtt</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>seleFile</servlet-name>
        <servlet-class>seleFile</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>uploadFile</servlet-name>
        <servlet-class>uploadFile</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>uploadExcel</servlet-name>
        <servlet-class>uploadExcel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addSubject</servlet-name>
        <url-pattern>/addSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bank</servlet-name>
        <url-pattern>/bank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkLogin</servlet-name>
        <url-pattern>/checkLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkPin</servlet-name>
        <url-pattern>/checkPin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delSubject</servlet-name>
        <url-pattern>/delSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disStudAtt</servlet-name>
        <url-pattern>/disStudAtt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disSubject</servlet-name>
        <url-pattern>/disSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disTimetable</servlet-name>
        <url-pattern>/disTimetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editTimetable</servlet-name>
        <url-pattern>/editTimetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editSubject</servlet-name>
        <url-pattern>/editSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disPin</servlet-name>
        <url-pattern>/disPin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seleSem</servlet-name>
        <url-pattern>/seleSem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAdmin</servlet-name>
        <url-pattern>/addAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAdmin</servlet-name>
        <url-pattern>/editAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disAdmin</servlet-name>
        <url-pattern>/disAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delAdmin</servlet-name>
        <url-pattern>/delAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seleClass</servlet-name>
        <url-pattern>/seleClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disStudDetail</servlet-name>
        <url-pattern>/disStudDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editStudDetail</servlet-name>
        <url-pattern>/editStudDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seleSub</servlet-name>
        <url-pattern>/seleSub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disAtt</servlet-name>
        <url-pattern>/disAtt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seleFile</servlet-name>
        <url-pattern>/seleFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFile</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadExcel</servlet-name>
        <url-pattern>/uploadExcel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
